@import url('../../coresCSS/palhetaCores.css');

.footer {
    background-color: var(--main-background);
    color: #F1D7BD;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li a{
    color: #F1D7BD;
}

.social_list li:hover {
    color: #E4B485;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #F1D7BD;
}
