@import url('../../coresCSS/palhetaCores.css');

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-background);
    padding: 1em;
    position: relative;
    box-shadow: 1px 1px 15px grey;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    color: #F1D7BD;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #F1D7BD;
    text-decoration: none;
}

.item a:hover {
    color: #E4B485;
    transition: .3s;
}

.logo {
    width: 5rem;
    background-color: white;
    border-radius: 15px;
}