@import url('../src/coresCSS/palhetaCores.css');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  background-color: var(--main-container);
  height: 100%;
}